/* スマートフォン用CSS */
@media screen and (max-width: 850px) {

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
}

#wrapperUb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
  min-height: 120vh;
}

#youtubeUrl{
  position: relative;
  display: block;
  width: 80%;
  height: 35px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: #a0a0a0;
  display: table-cell;
  vertical-align: middle;
}

.buttonGo{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.buttonGo:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  cursor: pointer;
}

.buttonBack{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #696969;
  display: table-cell;
  vertical-align: middle;
}

.buttonBack:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.buttonClipboard{
  position: relative;
  display: block;
  width: 170px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
}

.buttonClipboard:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.errorText {
  position: relative;
  margin-top: 12px;
  font-size: 14px;
  color: #b22222;
  background-color: #fbd8d8;
  width: auto;
  line-height: 16px;
}

#formBg{
  position: relative;
  width: 90%;
  border: none;
  margin-top: 50px;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.8);
  text-align: center;
  display: table;
  border-radius: 10px;
}

#text{
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border: none;
  display: table;
  border-radius: 10px;
  text-align: center;
}

#textTime{
  position: relative;
  margin-top: 2px;
  border: none;
  font-size: 14px;
  display: table;
  border-radius: 10px;
  left: 30%;
}

#ubBg{
  position: relative;
  width: 90%;
  height: auto;
  margin-top: 80px;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.9);
  text-align: left;
  display: table;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.5;
}

.ubText{
  position: relative;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 12px;
}

.ubButton{
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 0;
  line-height: 0;
}

progress[value] {
  height: 20px;
  margin-top: 10px;
  width: 40%;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #494949;
  background: transparent;
  line-height: 2;
}

img {
  width: auto;
  height: 150px;
}

span{
  position:relative;
}

.centerObject{
  text-align: center;
}

.buttonTwitter{
  position: relative;
}

.tweetIcon{
  height: 33px;
  position: absolute;
  top: -80px;
  left: 33px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
}

/* header用CSS */

#header{
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  list-style: none;
  font-size: 0;
}

.titleLogo{
  margin-left: 5%;
}

.titleLogo img{
  height: 50px;
}

#menuButton{
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 20px;
}

.headerIcon {
  position: absolute;
  top: 3px;
  left: 90%;
}

.headerIcon img {
  height: 44px;
}


/* footer用CSS */

#modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#modalBg {
  width: 100%;
  height: 200%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 27px 30px;
  background-color: #fff;
}

.modalContents {
  font-size: 12px;
  line-height: 1.5;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

#openModal {
  position: relative;
  margin-left: 0%;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#openModal::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

#openModal:hover::after {
  transform: scale(1, 1);
}

#testButton {
  width: 70px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  background-color: #a9a9a9;
  color: #696969;
}

#testButton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

#videoContainer {
  position: relative;
  width: 100%;
  max-width: 500;
  height: 0;
  padding-top: 56.25%;
}

#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body{
  -webkit-text-size-adjust: 100%;
}

input[type="radio"]{
  display:none;
}

.tab_area{
  font-size: 0;
  margin-top: 60px;
  width: 90%;
}

.tab_area label{
  border-radius: 5px;
  width: 20%;
  margin: 0 5px;
  display: inline-block;
  padding: 12px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}

.tab_area label:hover{
  opacity: 0.8;
}

.panel_area{
  position: relative;
  width: 90%;
  height: auto;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.9);
  text-align: left;
  display: table;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.5;
}

.tab_panel{
  display: none;
}

.timeline{
  display: table;
  width: 60%;
}

.character{
  display: table-cell;
}

.debuff{
  display: table-cell;
  text-align: right;
  color: #6496e6;
}

#tab1:checked ~ .tab_area .tab1_label{
  background:#fff;
  color:#000;
}

#tab1:checked ~ .panel_area #panel1{
  display:block;
}

#tab2:checked ~ .tab_area .tab2_label{
  background:#fff;
  color:#000;
}

#tab2:checked ~ .panel_area #panel2{
  display:block;
}

}

/* スマートフォン用CSS */
@media screen and (max-width: 640px) {

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
}

#wrapper_ub{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
  min-height: 120vh;
}

#youtubeurl{
  position: relative;
  display: block;
  width: 80%;
  height: 35px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: #a0a0a0;
  display: table-cell;
  vertical-align: middle;
}

.buttonGo{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.buttonGo:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  cursor: pointer;
}

.buttonBack{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #696969;
  display: table-cell;
  vertical-align: middle;
}

.buttonBack:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.buttonClipboard{
  position: relative;
  display: block;
  width: 170px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
}

.buttonClipboard:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.errorText {
  position: relative;
  margin-top: 12px;
  font-size: 14px;
  color: #b22222;
  background-color: #fbd8d8;
  width: auto;
  line-height: 16px;
}

#formBg{
  position: relative;
  width: 90%;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.8);
  text-align: center;
  display: table;
  border-radius: 10px;
}

#text{
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border: none;
  display: table;
  border-radius: 10px;
  text-align: center;
}

#textTime{
  position: relative;
  margin-top: 2px;
  border: none;
  font-size: 14px;
  display: table;
  border-radius: 10px;
  left: 20%;
}

#ubBg{
  position: relative;
  width: 90%;
  height: auto;
  margin-top: 60px;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.9);
  text-align: left;
  display: table;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.5;
}

.ubText{
  position: relative;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 12px;
}

#urlButton{

}

#movieButton{

}

.ubButton{
  position: relative;
  margin-left: 30px;
  margin-bottom: 70px;
  font-size: 0;
  line-height: 0;
}

progress[value] {
  height: 20px;
  margin-top: 10px;
  width: 80%;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #494949;
  background: transparent;
  line-height: 2;
}

img {
  width: auto;
  height: 150px;
}

span{
  position:relative;
}

.centerObject{
  text-align: center;
}

.buttonTwitter{
  position: relative;
  margin-top: 15px
}

.tweetIcon{
  height: 33px;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
}

/* header用CSS */

#header{
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  list-style: none;
  font-size: 0;
}

.titleLogo{
  margin-left: 5%;
}

.titleLogo img{
  height: 50px;
}

#menuButton{
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 50px;
}

.headerIcon {
  position: absolute;
  top: 3px;
  left: 80%;
}

.headerIcon img {
  height: 44px;
}

/* footer用CSS */

#modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 14px 15px;
  background-color: #fff;
}

.modalContents {
  font-size: 12px;
  line-height: 1.5;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

#openModal {
  position: relative;
  margin-left: 0%;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#openModal::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

#openModal:hover::after {
  transform: scale(1, 1);
}

#testButton {
  width: 70px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  background-color: #a9a9a9;
  color: #696969;
}

#testButton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

#videoContainer {
  display: none;
  position: relative;
  width: 100%;
  max-width: 500;
  height: 0;
  padding-top: 56.25%;
}

#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body{
  -webkit-text-size-adjust: 100%;
}

input[type="radio"]{
  display:none;
}

.tab_area{
  font-size: 0;
  margin-top: 60px;
  width: 90%;
}

.tab_area label{
  border-radius: 5px;
  width: 18%;
  margin: 0 5px;
  display: inline-block;
  padding: 12px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}

.tab_area label:hover{
  opacity: 0.8;
}

.panel_area{
  position: relative;
  width: 90%;
  height: auto;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.9);
  text-align: left;
  display: table;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.5;
}

.tab_panel{
  display: none;
}

.timeline{
  display: table;
  width: 90%;
}

.character{
  display: table-cell;
}

.debuff{
  display: table-cell;
  text-align: right;
  color: #6496e6;
}

#tab1:checked ~ .tab_area .tab1_label{
  background:#fff;
  color:#000;
}

#tab1:checked ~ .panel_area #panel1{
  display:block;
}

#tab2:checked ~ .tab_area .tab2_label{
  background:#fff;
  color:#000;
}

#tab2:checked ~ .panel_area #panel2{
  display:block;
}

}