/* スマートフォン用CSS */
@media screen and (max-width: 850px) {

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
}

#wrapper_ub{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

#youtubeurl{
  position: relative;
  display: block;
  width: 80%;
  height: 35px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: #a0a0a0;
  display: table-cell;
  vertical-align: middle;
}

.button_go{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.button_go:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  cursor: pointer;
}

.button_back{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #696969;
  display: table-cell;
  vertical-align: middle;
}

.button_back:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.button_clipboard{
  position: relative;
  display: block;
  width: 170px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
}

.button_clipboard:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.errortext {
  position: relative;
  margin-top: 12px;
  font-size: 14px;
  color: #b22222;
  background-color: #fbd8d8;
  width: auto;
  line-height: 16px;
}

#formbg{
  position: relative;
  width: 90%;
  border: none;
  margin-top: 50px;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.8);
  text-align: center;
  display: table;
  border-radius: 10px;
}

#text{
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border: none;
  display: table;
  border-radius: 10px;
  text-align: center;
}

#text_time{
  position: relative;
  margin-top: 2px;
  border: none;
  font-size: 14px;
  display: table;
  border-radius: 10px;
  left: 30%;
}

#ubbg{
  position: relative;
  width: 90%;
  height: auto;
  margin-top: 80px;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.9);
  text-align: left;
  display: table;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.5;
}

#ubtext{
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 12px;
}

#ubbutton{
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 0;
  line-height: 0;
}

progress[value] {
  height: 20px;
  margin-top: 10px;
  width: 40%;
}

#title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #494949;
  background: transparent;
  line-height: 2;
}

img {
  width: auto;
  height: 150px;
}

span{
  position:relative;
}

.centerobject{
  text-align: center;
}

/* header用CSS */

#header{
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  list-style: none;
  font-size: 0;
}

.titleLogo{
  margin-left: 5%;
}

.titleLogo img{
  height: 50px;
}

#menubutton{
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 20px;
}

/* footer用CSS */

#modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#modalBg {
  width: 100%;
  height: 200%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 27px 30px;
  background-color: #fff;
}

.modalContents {
  font-size: 12px;
  line-height: 1.5;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

#openModal {
  position: relative;
  margin-left: 0%;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#openModal::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

#openModal:hover::after {
  transform: scale(1, 1);
}

#testbutton {
  width: 70px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  background-color: #a9a9a9;
  color: #696969;
}

#testbutton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

#videoContainer {
  position: relative;
  width: 100%;
  max-width: 500;
  height: 0;
  padding-top: 56.25%;
}

#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body{
  -webkit-text-size-adjust: 100%;
}

}

/* スマートフォン用CSS */
@media screen and (max-width: 640px) {

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
}

#wrapper_ub{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url('/static/backgroundsp2.jpg');
  background-size:cover;
  background-position: center center; 
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

#youtubeurl{
  position: relative;
  display: block;
  width: 80%;
  height: 35px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: #a0a0a0;
  display: table-cell;
  vertical-align: middle;
}

.button_go{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.button_go:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
  cursor: pointer;
}

.button_back{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #696969;
  display: table-cell;
  vertical-align: middle;
}

.button_back:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.button_clipboard{
  position: relative;
  display: block;
  width: 170px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ff7f50;
  color: #fffafa;
  display: table-cell;
  vertical-align: middle;
}

.button_clipboard:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.errortext {
  position: relative;
  margin-top: 12px;
  font-size: 14px;
  color: #b22222;
  background-color: #fbd8d8;
  width: auto;
  line-height: 16px;
}

#formbg{
  position: relative;
  width: 90%;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.8);
  text-align: center;
  display: table;
  border-radius: 10px;
}

#text{
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border: none;
  display: table;
  border-radius: 10px;
  text-align: center;
}

#text_time{
  position: relative;
  margin-top: 2px;
  border: none;
  font-size: 14px;
  display: table;
  border-radius: 10px;
  left: 20%;
}

#ubbg{
  position: relative;
  width: 90%;
  height: auto;
  margin-top: 60px;
  border: none;
  font-size: 16px;
  background-color:  rgba(255,255,255,0.9);
  text-align: left;
  display: table;
  border-radius: 10px;
  overflow: auto;
  line-height: 1.5;
}

#ubtext{
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 12px;
}

#urlbutton{

}

#moviebutton{

}

#ubbutton{
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 0;
  line-height: 0;
}

progress[value] {
  height: 20px;
  margin-top: 10px;
  width: 80%;
}

#title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #494949;
  background: transparent;
  line-height: 2;
}

img {
  width: auto;
  height: 150px;
}

span{
  position:relative;
}

.centerobject{
  text-align: center;
}

/* header用CSS */

#header{
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  list-style: none;
  font-size: 0;
}

.titleLogo{
  margin-left: 5%;
}

.titleLogo img{
  height: 50px;
}

#menubutton{
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 50px;
}

/* footer用CSS */

#modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 14px 15px;
  background-color: #fff;
}

.modalContents {
  font-size: 12px;
  line-height: 1.5;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

#openModal {
  position: relative;
  margin-left: 0%;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#openModal::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

#openModal:hover::after {
  transform: scale(1, 1);
}

#testbutton {
  width: 70px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 2px #627295;
  border-radius: 5px;
  font-size: 12px;
  background-color: #a9a9a9;
  color: #696969;
}

#testbutton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

#videoContainer {
  display: none;
  position: relative;
  width: 100%;
  max-width: 500;
  height: 0;
  padding-top: 56.25%;
}

#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body{
  -webkit-text-size-adjust: 100%;
}

}