<head>
  <meta name="robots" content="noindex,nofollow" />
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>PriLog</title>
  <link rel="stylesheet" type="text/css" href="/static/reset.css">
  <link rel="stylesheet" media="(min-width: 850px)" type="text/css" href="/static/base178.css">
  <link rel="stylesheet" media="(max-width: 850px)" type="text/css" href="/static/base178_mobile.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script language="javascript" type="text/javascript">
  var num = 0;
  var intervalID;

  $(function() {
    var time = {{length}};
    var interval = time * 10;
    $('#progress1').attr("value",num);

    $(".button_go").click(function() {
      intervalID = setInterval("updateProgress()", interval);
    });
  });

  // プログレスバーを更新する
  function updateProgress() {
    // プログレスバーの進捗値を更新し、プログレスバーに反映させる
    num += 1;
    if (num <= 100) {
      $('#progress1').attr("value",num);
    } else if (num > 100) {
      $('#progress1').attr("value", 100);
      clearInterval(intervalID);
    }
  }
  </script>
</head>

<body>
  <div id="wrapper">
    <div id="formbg">
      <font id="title">{{title}}</font><br>
      <img src="{{thumbnail}}" /><br>
      <progress id="progress1" max="100" value=""></progress><br>
      <font id="text_time">予測処理時間 : {{length}} 秒</font>
      <button class="button_back" onclick="location.href='/'">戻る</button>
      <button class="button_go" onclick="location.href='/result'; this.disabled = true;">分析</button>
    </div>
  </div>
</body>