<head>
  <meta name="robots" content="noindex,nofollow" />
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>PriLog</title>
  <meta name="description" content="プリコネのクランバトルのタイムラインをYouTubeの動画から自動解析します。" />
  <meta property="og:url" content="https://prilog.jp/" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="PriLog" />
  <meta property="og:image" content="https://prilog.jp/static/twitter_summary.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PriLog_R" />
  <meta property="og:site_name" content="PriLog" />
  <meta property="og:locale" content="ja_JP" />
  <link rel="stylesheet" type="text/css" href="/static/reset.css">
  <link rel="stylesheet" media="(min-width: 850px)" type="text/css" href="/static/base.css?202002230254">
  <link rel="stylesheet" media="(max-width: 850px)" type="text/css" href="/static/base_mobile.css?202002230254">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <a class="titleLogo" href="/">
        <img src="/static/title.png">
      </a>
      <a class="headerIcon" href="https://twitter.com/PriLog_R" target="_blank">
        <img src="/static/twitter_icon_header.png">
      </a>
    </div>
    <div id="formBg">
      <font class="title">{{title}}</font><br>
      <img src="{{thumbnail}}" /><br>
      <progress id="progress1" max="100" value=""></progress><br>
      <font id="textTime">予測処理時間 : {{length}} 秒</font>
      <div id="movieButton">
        <button class="buttonBack" onclick="location.href='/'">戻る</button>
        <button class="buttonGo" onclick="this.disabled = true;">分析</button>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  $(function() {
    var num = 0;
    var intervalID;
    var time = {{length}};
    var interval = time * 10;
    $('#progress1').attr("value",num);

    $(".buttonGo").click(function() {
      intervalID = setInterval(function(){
        // プログレスバーの進捗値を更新し、プログレスバーに反映させる
        num += 1;
        if (num <= 100) {
          $('#progress1').attr("value",num);
        } else if (num > 100) {
          $('#progress1').attr("value", 100);
          clearInterval(intervalID);
        }
      }, interval);

      $.ajax({
        method: "GET",
        url: "/analyze",
      })
      .then(
        function() {
          window.location.href = '/result';
        },

        function() {
          alert("読み込み失敗");
      });
    });
  });

  </script>
</body>