<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>PriLog</title>
  <link rel="stylesheet" type="text/css" href="/static/reset.css">
  <link rel="stylesheet" media="(min-width: 850px)" type="text/css" href="/static/base198.css">
  <link rel="stylesheet" media="(max-width: 850px)" type="text/css" href="/static/base198_mobile.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script language="javascript" type="text/javascript">
  var num = 0;
  var intervalID;

  // プログレスバーを更新する
  function updateProgress() {
    // プログレスバーの進捗値を更新し、プログレスバーに反映させる
    num += 1;
    if (num <= 100) {
      $('#progress1').attr("value",num);
    } else if (num > 100) {
      $('#progress1').attr("value", 100);
      clearInterval(intervalID);
    }
  }

  $(function() {
    var time = {{length}};
    var interval = time * 10;
    $('#progress1').attr("value",num);

    $(".button_go").click(function() {
      intervalID = setInterval("updateProgress()", interval);
      window.location.href = '/result';
    });

    $('#openModal').click(function(){
        $('#modalArea').fadeIn();
        $("#videoPlayer").attr("src", "https://www.youtube.com/embed/mvLSw5vCpGU");
    });

    $('#closeModal , #modalBg').click(function(){
      $('#modalArea').fadeOut();
      $("#videoPlayer").attr("src", "");
    });
  });

  </script>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <a class="titleLogo" href="/">
        <img src="/static/title.PNG">
      </a>
      <div id="menubutton">
        <div class="menu"><button id="openModal">HOW TO USE</button></div>
      </div>
    </div>
    <div id="formbg">
      <font id="title">{{title}}</font><br>
      <img src="{{thumbnail}}" /><br>
      <progress id="progress1" max="100" value=""></progress><br>
      <font id="text_time">予測処理時間 : {{length}} 秒</font>
      <div id="moviebutton">
        <button class="button_back" onclick="location.href='/'">戻る</button>
        <button class="button_go" onclick="this.disabled = true;">分析</button>
      </div>
    </div>
  </div>

  <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h1>できること</h1><br>
        <p>プリコネのYouTube動画からタイムラインを自動生成します</p>
        <br><h2>手順</h2><br>
        <p>1.YouTubeからプリコネの動画を検索し、URLをコピーします</p>
        <p>2.URLを白枠内に張り付け「分析」ボタンを押します</p>
        <p>3.分析可能な動画であれば動画情報が表示されます</p>
        <p>4.再度「分析」を押します</p>
        <p>5.分析後、タイムラインが表示されます</p>
        <br><h2>サンプル動画</h2><br>
        <p>https://www.youtube.com/watch?v=mvLSw5vCpGU</p><br>
        <div id="videoContainer">
          <iframe id="videoPlayer" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div id="closeModal" class="closeModal">
        ×
      </div>
    </div>
  </section>
</body>