<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>PriLog</title>
  <meta name="description" content="プリコネのクランバトルのタイムラインをYouTubeの動画から自動解析します。" />
  <meta property="og:url" content="https://prilog.jp/" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="PriLog" />
  <meta property="og:image" content="https://prilog.jp/static/image.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@PriLog_R" />
  <meta property="og:site_name" content="PriLog" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="google-site-verification" content="NHCQ0c718_8bm-1ODyWHSTmcEdZuAAYg0fUhiLzZkCc" />
  <link rel="stylesheet" type="text/css" href="/static/reset.css">
  <link rel="stylesheet" media="(min-width: 850px)" type="text/css" href="/static/base.css?202005062327">
  <link rel="stylesheet" media="(max-width: 850px)" type="text/css" href="/static/base_mobile.css?202005062327">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="canonical" href="https://prilog.jp/"/>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <a class="titleLogo" href="/">
        <img src="/static/title.png">
      </a>
      <div class="headerMenudiv">
        <a class="headerRestApi" href="/rest">
          <button class="headerMenu">REST API</button>
        </a>
        <a class="headerDownload" href="/download">
          <button class="headerMenu">DOWNLOAD</button>
        </a>
      </div>
    </div>
    <div id="formBg">
      <font id="text">URLをここに貼り付けてください</font>
      <form method="post">
        <input required name="Url" id="youtubeUrl" type="text"/><br>
        <div id="urlButton">
          {% if error %}
            <div class="errorText">{{ error }}</div>
          {% endif %}
          <button class="buttonGo" type="submit" >分析</button>
        </div>
      </form>
      <div id="menuButton">
        <div class="menu"><button id="openModal">HOW TO USE</button></div>
      </div>
    </div>
  </div>

  <section id="modalArea">
    <div id="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h1>できること</h1><br>
        <p>プリコネのYouTube動画からタイムラインを自動生成します</p>
        <br><h2>手順</h2><br>
        <p>1.YouTubeのURLをコピーします</p>
        <p>2.URLを貼り付け「分析」を押します</p>
        <p>3.分析可能なら動画情報が表示されます</p>
        <p>4.再度「分析」を押します</p>
        <p>5.タイムラインが表示されます</p>
        <br><h2>サンプル動画</h2>
        <p>https://www.youtube.com/watch?v=mvLSw5vCpGU</p>
        <div class="centerObject">
          <button id="testButton">テスト</button>
        </div>
        <div id="videoContainer">
          <iframe id="videoPlayer" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div id="closeModal" class="closeModal">
        ×
      </div>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(function() {
      $('#openModal').click(function(){
        $('#modalArea').fadeIn();
        $("#videoPlayer").attr("src", "https://www.youtube-nocookie.com/embed/mvLSw5vCpGU");
      });

      $('#closeModal , #modalBg').click(function(){
        $('#modalArea').fadeOut();
        $("#videoPlayer").attr("src", "");
      });

      $('#testButton').click(function(){
        $('#modalArea').fadeOut();
        $("#videoPlayer").attr("src", "");
        if($("#youtubeUrl").length) {
          $("#youtubeUrl").val("https://www.youtube.com/watch?v=mvLSw5vCpGU");
        }
      });
    });
  </script>
</body>