<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>PriLog</title>
  <meta name="description" content="プリコネのクランバトルのタイムラインをYoutubeの動画から自動解析します。(開発中)" />
  <meta property="og:url" content="https://prilog.jp/" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="PriLog" />
  <meta property="og:image" content="https://prilog.jp/static/image.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@PriLog_R" />
  <meta property="og:site_name" content="PriLog" />
  <meta property="og:locale" content="ja_JP" />
  <link rel="stylesheet" type="text/css" href="/static/reset.css">
  <link rel="stylesheet" media="(min-width: 850px)" type="text/css" href="/static/base218.css">
  <link rel="stylesheet" media="(max-width: 850px)" type="text/css" href="/static/base218_mobile.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <a class="titleLogo" href="/">
        <img src="/static/title.PNG">
      </a>
    </div>
    <div id="formbg">
      <font id="text">URLをここに貼り付けてください</font>
      <form method="post">
        <input required name="Url" id="youtubeurl" type="text"/><br>
        <div id="urlbutton">
          {% for message in form.Url.errors %}
            <div class="errortext">{{ message }}</div>
          {% endfor %}
          {% if error %}
            <div class="errortext">{{ error }}</div>
          {% endif %}
          <button class="button_go" type="submit" >分析</button>
        </div>
      </form>
      <div id="menubutton">
        <div class="menu"><button id="openModal">HOW TO USE</button></div>
      </div>
    </div>
  </div>

  <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h1>できること</h1><br>
        <p>プリコネのYouTube動画からタイムラインを自動生成します</p>
        <br><h2>手順</h2><br>
        <p>1.YouTubeのURLをコピーします</p>
        <p>2.URLを張り付け「分析」を押します</p>
        <p>3.分析可能なら動画情報が表示されます</p>
        <p>4.再度「分析」を押します</p>
        <p>5.タイムラインが表示されます</p>
        <br><h2>サンプル動画</h2>
        <p>https://www.youtube.com/watch?v=mvLSw5vCpGU</p>
        <button id="testbutton">テスト</button>
        <div id="videoContainer">
          <iframe id="videoPlayer" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div id="closeModal" class="closeModal">
        ×
      </div>
    </div>
  </section>
  <script>
    $(function () {
      $('#openModal').click(function(){
        $('#modalArea').fadeIn();
        $("#videoPlayer").attr("src", "https://www.youtube-nocookie.com/embed/mvLSw5vCpGU");
      });

      $('#closeModal , #modalBg').click(function(){
        $('#modalArea').fadeOut();
        $("#videoPlayer").attr("src", "");
      });

      $('#testbutton').click(function(){
        $('#modalArea').fadeOut();
        if($("#youtubeurl").length) {
          $("#youtubeurl").val("https://www.youtube.com/watch?v=mvLSw5vCpGU");
        }
      });
    });
  </script>
</body>